body {
  background-color: black;
  color: darkgray
}
input {
  width:225px;
  border-radius: 15px;
  font-family: Arial;
  font-size: initial;
  padding:10px;
  }
textarea {
  width:459px;
  border-radius: 5px;
  font-family: Arial;
  font-size: initial;
  padding:10px;
  }

#headerLogo {
  text-align:center;
  background-color: black;
  padding: 10px;
}
#ReservationForm {
 width: 500px;
 text-align:center;
 padding: 10px;
 background-color: #0e0e0e;
 margin-left: auto;
 margin-right: auto;
}
#Shamir_Ajate {
  width:80px;
  height:80px;
  padding: 7px;
  }
  #Logo {width:200px; height:200px;}
  #ellieCat {float: left; width: 300px; position: absolute; margin-top: 50px; }


  /* MEDIA QUERIES FOR PHONES & TABLETS  */
    @media screen and (max-width: 700px) {

          #ellieCat { width: 240px; margin-left: -40px; }

    }
