body {
  background-color: black;
  color: darkgray
}
input {
  width:225px;
  border-radius: 15px;
  font-family: Arial;
  font-size: initial;
  padding:10px;
  }
textarea {
  width:459px;
  border-radius: 5px;
  font-family: Arial;
  font-size: initial;
  padding:10px;
  }

#headerLogo {
  text-align:center;
  background-color: black;
  padding: 10px;
}
#ReservationForm {
  text-align:center;
 padding: 10px;
}
#Shamir_Ajate {
  width:80px;
  height:80px;
  padding: 7px;
  }
  #Logo {width:200px; height:200px;}
